<%- include('navbar') %>
<div class="container">
        <div class="calendar">
            
            <div class="grid_columns">
                <% months.forEach(month => { %>
                    <div class="grid_col">
                        <div class="date">
                            <p class="date-mois"><%= month.name %></p>
                        </div>
                        <div class="events">
                            <% events.filter(event => event.month_id === month.id).forEach(event => { %>
                                <div class="event stade<%= event.stade %> <%= event.col %>" data-stade="<%= event.stade %>"></div>
                            <% }); %>
                        </div>
                    </div>
                <% }); %>
            </div>
        </div>
    </div>
    
    <%- include('footer') %>